nav.menu
    ul
        li
            a(href='#')
                span Home
        li
            a(href='#')
                span About
        li
            a(href='#')
                span Menu
        li
            a(href='#')
                span Contact
        li
            a(href='#')
                span  Login