doctype html
html
    head
        meta(name='viewport', content='width=device-width')
        link(rel="stylesheet", href="/css/style.css")
        title = Pug example
    body
        include  _navbar.pug
        div#main
            header
                h1 Pug example
                p  Here is the homepage for #{name}
            section
                h2 #{subject}
                p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Totam, repellendus!
                p
                    a(href=link) DIT
                ul
                each val in [1, 2, 3, 4, 5]
                    li= val
            footer
                h2 Here is the footer
